body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.maintable {
    border: 1px solid;
    border-color: rgb(34,36,38);
    border-collapse: collapse;
}

table.maintable {
    height: 100%;
    width: 100%;
}

td.maintable {
    border-bottom: 0px;
    border-top: 0px;
}
